#m-95d35c04-c92b-4e04-b246-e4066a69ea34.master {
  transform: translate(0px,-1px);
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Path_2 {
  position: absolute;
  width: 24.799999237060547px;
  height: 28.644962310791016px;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 {
  position: absolute;
  width: 115.5px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 600;
  text-transform: none;
  line-height: 25px;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 span#rtr-Paragraph_1_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 600;
  text-transform: none;
  line-height: 25px;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 {
  position: absolute;
  width: 115.5px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins_21.0.0_google',Arial;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Path_2 {
  position: absolute;
  width: 24.799999237060547px;
  height: 28.644962310791016px;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 span {
  color: #31333C;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 600;
  text-transform: none;
  line-height: 25px;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34.master {
  transform: translate(0px,-1px);
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-95d35c04-c92b-4e04-b246-e4066a69ea34 #Paragraph_1 span#rtr-Paragraph_1_0 {
  color: #31333C;
  text-decoration: none;
  font-family: 'Poppins_21.0.0_google',Arial;
  font-size: 15.75pt;
  font-weight: 600;
  text-transform: none;
  line-height: 25px;
}
#loadMark-m-95d35c04-c92b-4e04-b246-e4066a69ea34 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-95d35c04-c92b-4e04-b246-e4066a69ea34.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}